sudo: false

language: java

install:
  - '[ "${TRAVIS_OS_NAME}" = "osx" ] && brew update || true'
  - '[ "${TRAVIS_OS_NAME}" = "osx" ] && brew uninstall libtool && brew install libtool || true'
  - '[ "${TRAVIS_OS_NAME}" = "osx" ] && brew install ant || true'

script:
  - ant test
  - ant test-platform
  - ant dist

os:
  - linux
  - osx
