package ${packagename};

import java.util.Arrays;
import java.util.List;

import com.sun.jna.Pointer;
import com.sun.jna.Structure;
import com.sun.jna.platform.win32.COM.COMObject;

/**
* uuid(${uuid})
* version(${version})
* helpstring(${helpstring})
*
*/
public class ${classname} extends COMObject {	

	public ${classname}() {
		super(${progid}, false);
	}

${content}

}