	/**
	 * uuid(${uuid})
	 * helpstring(${helpstring})
	 *
	 */
	public class  ${classname} extends COMObject {

		public  ${classname}(IDispatch iDispatch) throws COMException {
			super(iDispatch);
		}
		
${content}		
	}
