	/**
	 * ${helpstring}
	 * Virtual table id: ${vtableid}
	 */
	public ${returntype} ${methodname}(${methodparams}) {
		return (${returntype})this._invokeNativeObject(${vtableid}, new Object[] { this.getPointer()${methodvariables}}, ${returntype}.class);
	}